.app_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.history_container {
  margin-top: 30px;
}

.app_container > .history_container > section > .history_count {
  margin-right: 50px;
}

#btn_start {
  margin-right: 10px;
}

#btn_stop {
  margin-right: 10px;
}
